---

title: Capitolo 5 - Responsive grids

background: gradient

lesson: lesson5

---


{{>section-title title='Esercizio 1: breve riepilogo sulle media queries'}}

    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
        <li class="item">6</li>
    </ul>

{{>section-title title='Esercizio 2: configurare viewport per dispositivi mobili e tablet'}}
    <p>Nessun  css nuovo da provare qui</p>


{{>section-title title='Esercizio 3: posizionare gli elementi di griglia usando le aree'}}

    <div class="container--rwd-positioning-basics">
        <div id="item-a" class="item">Item A</div>
        <div id="item-b" class="item">Item B</div>
        <div id="item-c" class="item">Item C</div>
        <div id="item-d" class="item">Item D</div>
        <div id="item-e" class="item">Item E</div>
        <div id="item-f" class="item">Item F</div>
    </div>

{{>section-title title='Esercizio 4: spalmare gli elementi di griglia usando le aree'}}
    <div class="container--rwd-spanning-basics">
        <header>Header Section</header>
        <div id="video-player-section">Video Player Section</div>
        <div id="video-title-section">Video Title Section</div>
        <div id="video-comments-section">Video Comments Section</div>
        <div id="related-videos-section">Related Videos Section</div>
        <footer>Footer Section</footer>
    </div>
{{>section-title title='Esercizio 5: definire le celle vuote'}}

    <div class="container--rwd-empty-cells">
        <div id="item-1" class="item">1</div>
        <div id="item-2" class="item">2</div>
        <div id="item-3" class="item">3</div>
        <div id="item-4" class="item">4</div>
        <div id="item-5" class="item">5</div>
        <div id="item-6" class="item">6</div>
        <div id="item-7" class="item">7</div>
        <div id="item-8" class="item">8</div>
    </div>

{{>section-title title='Esercizio 6: trucchi  e misfatti di grid-template-areas'}}

    <div class="container--rwd-gotchas">
        <div id="item-1" class="item">1</div>
        <div id="item-2" class="item">2</div>
        <div id="item-3" class="item">3</div>
        <div id="item-4" class="item">4</div>
        <div id="item-5" class="item">5</div>
        <div id="item-6" class="item">6</div>
        <div id="item-7" class="item">7</div>
        <div id="item-8" class="item">8</div>
    </div>

{{>section-title title='Esercizio 7: costruire griglie  resposnsive senza media  queries'}}


    <div class="container auto-fit-container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
    </div>

    <div class="container auto-fit-two-container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
    </div>

    <div class="container auto-fill-container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
    </div>

    <div class="container auto-fill-two-container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
    </div>

    <div class="container responsive-gallery-container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
        <div class="item">6</div>
        <div class="item">7</div>
        <div class="item">8</div>
        <div class="item">9</div>
        <div class="item">10</div>
        <div class="item">11</div>
        <div class="item">12</div>
    </div>



{{>section-title title='Esercizio 8: nuovo riepilogo  sulla proprietà grid'}}


    <div class="container container--grid-property-rwd valid-property-value-container">
        <div class="item item-1">1</div>
        <div class="item item-2">2</div>
        <div class="item item-3">3</div>
        <div class="item item-4">4</div>
        <div class="item item-5">5</div>
        <div class="item item-6">6</div>
        <div class="item item-7">7</div>
        <div class="item item-8">8</div>
        <div class="item item-9">9</div>
    </div>

    <div class="container container--grid-property-rwd valid-named-lines-property-value-container">
        <div class="item item-1">1</div>
        <div class="item item-2">2</div>
        <div class="item item-3">3</div>
        <div class="item item-4">4</div>
        <div class="item item-5">5</div>
        <div class="item item-6">6</div>
        <div class="item item-7">7</div>
        <div class="item item-8">8</div>
        <div class="item item-9">9</div>
        <div class="item item-10">10</div>
        <div class="item item-11">11</div>
    </div>

    <div class="container container--grid-property-rwd invalid-property-value-container">
        <div class="item item-1">1</div>
        <div class="item item-2">2</div>
        <div class="item item-3">3</div>
        <div class="item item-4">4</div>
    </div>
